/* Classes to apply only text-align when the screen is big enough */
@media (min-width:768px)
{
  .text-right-responsive {text-align:right;}
  .text-left-responsive {text-align:left;}
} 

@media (min-width: 1200px)
{
.container {
    max-width: 720px;
}
}

/* borderless table */
.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

.table.table-borderless {
    margin-bottom: 0px;
}

body {
background-color: #f7f7f7;
}

.main-content {
background-color: #ffffff;
}

body {
	color: #000000;
}

body { 
	font-size: 0.9rem;
}

#footerWrapper {
	background-color: #222222;
	color: #777777;
	padding: 0.5em
}


