/* Classes to apply only text-align when the screen is big enough */
@media (min-width:768px)
{
  .text-right-responsive {text-align:right;}
  .text-left-responsive {text-align:left;}
} 


/* borderless table */
.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

.table.table-borderless {
    margin-bottom: 0px;
}

body {
background-color: #f7f7f7;
}

.main-content {
background-color: #ffffff;
}

body {
	color: #000000;
}

.navbar-default {
	background-color: #FFFFFF;
}


